
 body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/2417862/pexels-photo-2417862.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  /* Full height */
  height:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 h1{
    text-align: center;
    color: white;
    font-family: 'Kaushan Script', cursive;
	margin:0 auto;
 }	
div#form{
   margin-top:20%;
}
.container1{
  text-align:center;
}
.card{
  
}
.container{
  padding-top:2%;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
