body{
    background-color: #66b3ff;
    
    
      /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    color: black;
    font-weight: bolder;
 }
 #col{
    background-color:black;
    opacity: 0.5;
 }
 h1{
    text-align: center;
    color: white;
    font-family: 'Kaushan Script', cursive;
	margin:0 auto;
	width:200px;
	font-family:'Lily Script One', cursive;
	font-size:60px;
	font-weight:bold;
	color:blue;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}