
 
 h1{
    text-align: center;
    color: white;
    font-family: 'Kaushan Script', cursive;
	margin:0 auto;
 }	
div#form{
   margin-top:20%;
   display:table-caption;
   margin-left:20%;
}
.container1{
  text-align:center;
}
.card{
  
}
.container{
  padding-top:2%;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.return{

}

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
    height: 100%;
    margin:0;
    padding:0;
}

